body.escuro {
    background-color: #303030;
}

body.escuro h1 {
    color: #f4f4f4f4;
}

body.escuro h4 {
    color: #f4f4f4f4;
}

body.escuro p {
    color: #f4f4f4f4;
}

body.escuro li {
    color: #f4f4f4f4;
}

body.escuro .mudar-tema {
    filter: none;
}


body.escuro .botao2 {
    background-color: #303030;
    border: 1px solid #6D9FC0;
    color: #6D9FC0;;
}

body.escuro .botao2:hover {
    background-color: #6D9FC0;
    color: #f4f4f4;
}

body.escuro .calculadora-container label {
    color: #f4f4f4;
}

body.escuro .section-reviews {
    background-color: #494949;
}

body.escuro .cards-gallery {
    background-color: #494949;
}

body.escuro .review-stars img {
    filter: none;
}

body.escuro .review-header img {
    filter: invert();
}

body.escuro .botao1 {
    background-color: #6D9FC0;
}

body.escuro .destaque-title span {
    color: #6D9FC0;
}

body.escuro .destaque-title span {
    color: #6D9FC0;
}

body.escuro .hero-text span {
    color: #6D9FC0;
}

body.escuro footer {
    background-color: #6D9FC0;
}
